h1 {
  color: orange;
  text-align: right;
}
ol {
  font-family: sans-serif;
  font-size: 24pt;
  font-weight: bolder;
}
a:hover {
  color: green;
}
img {
  width: 480px;
  border-style: groove;
  border-width: 15px;
  border-left-color: beige;
  border-top-color: brown;
  border-right-color: purple;
}
